services:
  frontend:
    build: ./frontend
    container_name: frontend

  backend:
    build: ./backend
    container_name: backend
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 5000"]
      interval: 10s
      timeout: 3s
      retries: 3

  db:
    image: mysql:5.7
    container_name: mysql-db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    image: nginx
    container_name: nginx-proxy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8084:80"
    depends_on:
      - frontend
      - backend
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  db_data:

